/* Collection 1 */
:root {
    /* Mode 1 */
    /* color */
    --beige: #ee8b6e;
    --blanc: #ffffff;
    --bordeau: #a21f2f;
    --couleur-de-fond: #670612;
    --jaune: #ffcc59;
    --noir: #1e1e1e;
    --orange-vif: #f03417;
    --marron-foncé: #632c31;
    --orange-clair: #bf5525;
    
 
  /* Text-size styles */
  --STU-1:0.8125rem;
  --BU: 0.625rem;
  --SM: 0.6875rem;
  --BO-2: 1rem;
  --BO-1: 1.375rem;
  --HEA-3: 1.125rem;
  --HEA-2: 1.5rem;
  --HEA-1: 2.25rem;


  /* Font-family styles */
  --font-family: "Anton SC";
  --font-family: "Oswald";
  
  
  /* Espaces */
  --space1x: 10px;
  --space2x: 20px;
  --space3x: 40px;
  --space4x: 80px;
  --space5x: 120px;

}
