

.hero__title-image {
    width: 100%;
    height: auto;
    filter: sepia(0.6) hue-rotate(-20deg) saturate(3) brightness(0.5); 
}
.hero__title-image-texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--blanc);
    padding: var(--space2x);
    border-radius: var(--border-radius);
    width: 280px;
    height: 280px;
    flex-shrink: 0; 
}

.small-texte--home{
    font-size: var(--SM);
    width: 168px;
    height: 24px;
    flex-shrink: 0;

}


.carroussel__hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrousel__item{
    display: flex;
    transition: transform 0.5s ease-in-out;
    cursor: grab;
}

.image-carroussel__hero{
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel__controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.carousel__button {
    background-color: var(--beige);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

.carousel__button:hover {
    background-color: #4a148c;
    transform: scale(1.1);
}

