.header__menu[aria-hidden="true"] {
  transform: translate(100%);
  visibility: hidden;
}

.header__menu {
 visibility: visible;
  display: flex;
  position: fixed;
  inset: 0;
  background-color: var(--marron-foncé);
  color: var(--white);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space5x) var(--space3x) var(--space3x);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}


.menu__link {
  color: var(--white);
  text-decoration: none;
  font-size: var(--fs-xl);
  display: block;
}

.menu__link--silent {
  color: var(--gray-600);
  font-size: var(--fs-s);
}

.menu__item {
  margin-bottom: var(--space3x);
  padding-bottom: var(--space1x);
  border-bottom: 1px solid var(--white);
}

.menu__social-network,
.menu__terms {
  display: flex;
  gap: var(--space2x);
  justify-content: end;
  margin-bottom: var(--space2x);
}

.header__menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-btn-bar,
.header__menu-btn-bar::before,
.header__menu-btn-bar::after {
  content: "";
  background: var(--beige);
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.header__menu-btn-bar::before {
  top: -10px;
}

.header__menu-btn-bar::after {
  top: 10px;
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.header__menu-btn[aria-expanded="true"] .header__menu-btn-bar,
.header__menu-btn[aria-expanded="true"] .header__menu-btn-bar::before,
.header__menu-btn[aria-expanded="true"] .header__menu-btn-bar::after {
  transform: rotate(135deg);
  background: var(--beige);
}

.header__menu-btn[aria-expanded="true"] .header__menu-btn-bar::before,
.header__menu-btn[aria-expanded="true"] .header__menu-btn-bar::after {
  transform: rotate(90deg);
  top: 0;
}